
    <% include header %>

    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active"  href="/issue" class="btn btn-primary">Assets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  href="/issue" class="btn btn-primary">Issue Money</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  href="/sendmoney" class="btn btn-primary">Send Money</a>
    </li>

    

    <!--
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="/listaddress" >List Address</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/listpermissions">List Permissions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/listassets" >List Assets</a>
    </li>
    -->
    </ul>
   

  <!--
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 50px, 0px);">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>

  -->








<!--
    <a href="/" class="btn btn-primary">Home</a>
    <a href="/getInfo" class="btn btn-primary">Get Info</a>
    <a href="/listaddress" class="btn btn-primary">List Address</a>
    <a href="/listpermissions" class="btn btn-primary">List Permissions</a>
    <a href="/listassets" class="btn btn-primary">List Assets</a>
    <a href="/issue" class="btn btn-primary">Issue Money</a>
    -->