
    <% include header %>

    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active"  href="/createstream" class="btn btn-primary">Create Stream</a>
    </li>
    <%
    // <li class="nav-item">
    //     <a class="nav-link active"  href="/publishmessage" class="btn btn-primary">Publish Message</a>
    // </li>
    // <li class="nav-item">
    //     <a class="nav-link active"  href="/publishfile" class="btn btn-primary">Publish File</a>
    // </li>
    %>
    <li class="nav-item">
        <a class="nav-link active"  href="/makesmartcontract" class="btn btn-primary">Make Smart Contract</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active"  href="/getsmartcontract" class="btn btn-primary">Get Smart Contract</a>
    </li>


    
 </ul>