<html> 
<body>
    <% include blockHeaderInfo %>

    <div>

    <br>
    <h1>Block infomation</h1><br>
    <h2>
    This is for the general block information. <br>
    "Recent Block" - Checking recently created 10 blocks in the blockchain.<br>




    </h2>
    
    </div>

</body>

</html>