<html>


<body>
<% include dataHeader %>
<h1> Create Stream </h1>
Streams provide a natural abstraction for blockchain use cases which focus on general data retrieval, timestamping and archiving, rather than the transfer of assets between participants.
<br>
<h2>
1. Input stream name in "Stream name" textbox. (Must be unique name. Not in the list of stream table)<br>
2. Input any comments in "Detail" textbox.<br>
</h2>


<div>

    <form name="myForm" action="/postcreatestream" onsubmit="return validateForm()" method="post">


        <label for="labelstreamname">Stream name:</label>
        <input type = "text" name="txtstreamname"> 
        <label for="labelstreamdetail">Detail:</label>
        <input type = "text" name="txtstreamdetail"> 
        <input type="submit" value="Go">

    </form>
</div>
<div>
<br>
<h1> List of Stream </h1>


   

    <% include listStreamsTable %>

<div>
</body>
</html>