<html> 
<body>
    <% include dataHeader %>

    <div>

    <br>
    <h1> Handling Data on Blocks <br>
    </h1>
    This is for inserting data in blockchain via transaction.<Br><br>

    <h2>
    "Create Stream" - Creating stream which act an independent append-only collection of items.<br>
    "Make Smart Contract" - Input simple coding in the transaction using javascript language. <br>
    "Get Smart Contract" - Performing a smart contract.<br>

    


    </h2>



    
    </div>

</body>

</html>