<html> 
<body>
    <% include dataHeader %>

    <div>

    <br>
    <h1> Handling Data on Blocks <br>
    Select Tap among ( Create Stream, Publish Message, Publish Data)</h1>



    
    </div>

</body>

</html>