<html> 
<body>
    <% include infoHeader %>

    <div>

    <br>
    <h1>under"Info" tap: (It is for the general information of blockchain network)<br></h1>
    
    <h2>
    List Node Address - It is for checking address list in the blockchain.<br>
    List Permissions - There are 9 Permissions in the blockchain network. Each address has different Permissions. <br>
    List Assets - List of assets (currency) in the blockchain <br>
    </h2>



    
    </div>

</body>

</html>