<html>
    <% include blockHeaderInfo %>
<body>
    <h1> Recent Block</h1>
    <br>
    <h3>
    There are 10 blocks which are recently created in the blockchain.<br>
    hash: Hash of the block.<br>
    miner: the address which created the block <br>
    confirmation: the number of confirmation for the block<br>
    height: The lenght of the blockchain <br>
    time: Created time <br>
    </h3>

<br><br>

    
    <div>

        
    <div class="loader">

       <%=info%>

        
    </div>
   

  



    </div>
</body>
</html>