<html>
    <% include blockHeaderInfo %>
<body>
    <h1> Recent Block</h1>
    
    <div>

        
    <div class="loader">

       <%=info%>

        
    </div>
   

  



    </div>
</body>
</html>