<html>
    <% include header %>


    <body>
    <br>
    <div>
   <!-- <img src="UCoin.jpeg" alt="UCoin" align="middle" style="position=absolute; Top:350 Left:130px">-->
    <h1> This is a blockchain research testbed under development.<br>
	Questions and comments may be directed to ykim2357@gmail.com.</h1>
    
    </div>
    </body>

</html>