<html>
    <% include header %>


    <body>
    <br>
    <div>
   <!-- <img src="UCoin.jpeg" alt="UCoin" align="middle" style="position=absolute; Top:350 Left:130px">-->
    <h1> This is a blockchain research testbed under development.<br>
	Questions and comments may be directed to ykim2357@gmail.com.</h1>
    <br>
    <h2>

    "Info" - It is for the general information of blockchain network <br>
    "Asset" - Related a currency in the blockchain <br>
    "Block" - General block information in the blockchain <br>
    "Data" - Transaction in the block such as smart contract and general data <br>
    </h2>
   







    
    </div>
    </body>

</html>